<h1>Sign Up</h1>
<p>
  <form action="<%= users_url %>" method="post">
    <label for="Username">Username</label>
    <input type="text" name="user[username]" id="Username">
    <br>
    <label for="Password">Password</label>
    <input type="password" name="user[password]" id="Password">

    <input type="submit" value="Sign Up">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form>
</p>
